#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: flex;
  gap: 20px;
}

.col {
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
}

.OrderList {
  flex-basis: 40%;
}

.FoodItems {
  flex-basis: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.ItemCard {
  flex-basis: 40%;
  padding: 20px;
  border: 1px solid black;
  border-radius: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.item-image {
  width: 100px;
  height: 100px;
}